@media screen and (min-width: 800px) {
	#caja-der {
		display: inline-block;
		width: 32%;
	}
	#caja-izq {
		display: inline-block;
		width: 42%;
		vertical-align: top;
	}

	#menu ul li {
		display: inline-block;
		width: 20%;
	}
}

@media screen and (max-width: 800px) {
	#menu ul li {
		list-style-type: none;
		border-style: solid;
		border-color: white;
		border-width: 1px;
		text-transform: uppercase;
		line-height: 1.5em;
	}
	
	#menu{
		padding: 0px;
	}
}
